#app {
  grid-template-columns: 51.25% 1fr;
  margin-inline: auto;
  max-width: 128rem;
  overflow: hidden;

  .main-container {
    overflow: auto;
    height: 100vh;

    & header {
      #back {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 0.8rem;
      }

      h1 {
        font: var(--h1);
        margin-block: 2.4rem 0.8rem;
      }
    }

  }

  .aside-container {
    background-color: var(--surface-secondary);
    header {
      h2 {
        font: var(--h2);
        margin-block: 0.8rem;
      }
    }

    #ilustration {
      margin-top: 3.2rem;
      object-fit: cover;
      width: 100%;
    }
  }
}
